<!DOCTYPE html>
<html>
<title>Other Research</title>

<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../css/element-ui.css" />
  <link rel="stylesheet" href="../css/index.css" />
  <script src="../js/vue.min.js"></script>
  <script src="../js/element-ui.min.js"></script>
</head>

<body>
  <div id="app">
    <el-page-header @back="goBack" title="Back"> </el-page-header>
    <!-- Other Research -->
    <div>
      <h1>
        Other Research
      </h1>
      <el-divider></el-divider>
      <div v-for="project,index in projects">
        <p class="project_p">
          <span v-html="textBold(project.authors)"></span>
          <b class="project_title" :id="index">{{project.title}}</b>
          <span v-for="tag in project.tags" :style="styles[tag[1]]">{{tag[0]}}</span>
          <span v-for="link in project.links">[<b><a class="project_links"
                :href="link.link">{{link.name}}</a></b><span>]&nbsp;</span></span>
        </p>
        <div v-for="img in project.imgs" class="figure_div">
          <img :src="'figures/'+img.src" :alt="img" class="figure_img" />
          <div v-if="img.label">
            <div class="figure_label">{{img.label}}</div>
            <br>
          </div>
        </div>
        <div v-if="project.io">
          <p><b>Input-Output:&nbsp;</b>{{project.io}}<span></span></p>
        </div>
        <div v-if="project.abstract">
          <p style="text-align: justify;"><b>Abstract:&nbsp;</b>{{project.abstract}}<span></span></p>
        </div>
        <el-divider content-position="right">{{index+1}}</el-divider>
      </div>
    </div>
  </div>
</body>
<script src="../js/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        styles,
        projects: [
          {
            authors: '杨鑫, 王大维, 王宇新, 白鑫, 葛宏伟, 夏浩.',
            title: '互补MOOC的主动式课堂建设方法探究.',
            tags: [
              ['现代教育技术', 1],
              ['. 2017, 27(1)：31-37. ', 0],
              ['(CSSCI收录)', 2]
            ],
            imgs: [
              { src: '互补MOOC的主动式课堂建设方法探究.png' }
            ],
            abstract: '教育模式改革是教育改革的关键,而传统教育模式已经难以适应当前信息时代的教育理念.文章通过梳理传统教育和在线教育各自的优势和劣势,提出了互补MOOC的主动式课堂建设方法,具体包括基于情感特征原则的课堂交互方法和基于反馈教学原则的弹幕交互方法,并分别设计了以公平鼓励为核心的抢答系统实施策略和以教学效率为核心的弹幕系统实施策略.最后,文章基于互补MOOC的主动式课堂建设方法,开发了主动式课堂实时互动平台,并展示了该平台在大连理工大学"程序设计语言"课程中的应用效果.'
          },
        ],
      }
    },
    methods: {
      textBold(s) {
        return textBold(s)
      },
      goBack() {
        goBack()
      },
    },
  })
</script>

</html>